<div class="ui styled fluid accordion vertical">
  <div class="title" [ngClass]="{ active: isOpen }" (click)="isOpen = !isOpen">
    <i class="dropdown icon"></i>
    Control Panel
  </div>
  <div class="content" [ngClass]="{ active: isOpen }">
    <form class="ui form">
      <h2 class="ui dividing header">Analytics</h2>
      <div class="four fields">
        <div class="field">
          <label>Select File</label>
          <input
            type="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="onFilterSelected('file', $any($event).target.files[0])"
          />
        </div>
        <div class="field">
          <label>Chart</label>
          <select
            class="ui fluid search dropdown"
            name="chart"
            [value]="filters.chartType"
            (change)="setFilters($any($event).target.value, 'chartType')"
          >
            <option *ngFor="let chart of chartTypes" [value]="chart">
              {{ chart }}
            </option>
          </select>
        </div>
        <div class="field">
          <label>Start Date</label>
          <input
            autoComplete="no"
            [value]="filters.startDate"
            type="date"
            [min]="controlPanelData.minDate"
            [max]="controlPanelData.maxDate"
            name="start"
            placeholder="Start Date"
            (change)="setFilters($any($event).target.value, 'startDate')"
          />
        </div>
        <div class="field">
          <label>End Date</label>
          <input
            [value]="filters.endDate"
            autoComplete="no"
            [min]="controlPanelData.minDate"
            [max]="controlPanelData.maxDate"
            type="date"
            name="end"
            placeholder="End Date"
            (change)="setFilters($any($event).target.value, 'endDate')"
          />
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Region</label>
          <select
            [value]="filters.region"
            class="ui fluid search dropdown"
            name="chart"
            (change)="setFilters($any($event).target.value, 'region')"
          >
            <option
              *ngFor="let region of controlPanelData.region"
              [value]="region"
            >
              {{ region }}
            </option>
          </select>
        </div>

        <div class="field">
          <label>Department</label>
          <select
            [value]="filters.department"
            class="ui fluid search dropdown"
            name="chart"
            (change)="setFilters($any($event).target.value, 'department')"
          >
            <option
              *ngFor="let department of controlPanelData.department"
              [value]="department"
            >
              {{ department }}
            </option>
          </select>
        </div>

        <div class="field">
          <label>Device</label>
          <select
            [value]="filters.device"
            class="ui fluid search dropdown"
            name="chart"
            (change)="setFilters($any($event).target.value, 'device')"
          >
            <option
              *ngFor="let device of controlPanelData.device"
              [value]="device"
            >
              {{ device }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
