<div class="ui styled fluid accordion vertical">
  <div class="title" [ngClass]="{ active: isOpen }" (click)="isOpen = !isOpen">
    <i class="dropdown icon"></i>
    Control Panel
  </div>
  <div class="content" [ngClass]="{ active: isOpen }">
    <form class="ui form">
      <h2 class="ui dividing header">Analytics</h2>
      <div class="four fields">
        <div class="field">
          <label>Select File</label>
          <input
            type="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="onFilterSelected('file', $any($event).target.files[0])"
          />
        </div>
        <div class="field">
          <label>Chart</label>
          <select class="ui fluid search dropdown" name="chart">
            <option value="0">Select Chart</option>
            <option value="1">Growth Chart</option>
            <option value="2">Period Return Chart</option>
            <option value="3">Box Chart</option>
            <option value="4">Risk Return Chart</option>
            <option value="5">Rolling Return Chart</option>
            <option value="6">Snail Trail Chart</option>
            <option value="7">Tracking Error Chart</option>
            <option value="8">Nominal IR</option>
          </select>
        </div>
        <div class="field">
          <label>Start Date</label>
          <input
            autoComplete="no"
            type="date"
            name="start"
            placeholder="Start Date"
            defaultValue="2020-01-31"
          />
        </div>
        <div class="field">
          <label>End Date</label>
          <input
            autoComplete="no"
            type="date"
            name="end"
            placeholder="End Date"
            defaultValue="2021-01-31"
          />
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Region</label>
          <select class="ui fluid search dropdown" name="chart">
            <option value="0">Select Region</option>
            <option value="1">Growth Chart</option>
            <option value="2">Period Return Chart</option>
            <option value="3">Box Chart</option>
            <option value="4">Risk Return Chart</option>
            <option value="5">Rolling Return Chart</option>
            <option value="6">Snail Trail Chart</option>
            <option value="7">Tracking Error Chart</option>
            <option value="8">Nominal IR</option>
          </select>
        </div>

        <div class="field">
          <label>Department</label>
          <select class="ui fluid search dropdown" name="chart">
            <option value="0">Select Department</option>
            <option value="1">Growth Chart</option>
            <option value="2">Period Return Chart</option>
            <option value="3">Box Chart</option>
            <option value="4">Risk Return Chart</option>
            <option value="5">Rolling Return Chart</option>
            <option value="6">Snail Trail Chart</option>
            <option value="7">Tracking Error Chart</option>
            <option value="8">Nominal IR</option>
          </select>
        </div>

        <div class="field">
          <label>Device</label>
          <select class="ui fluid search dropdown" name="chart">
            <option value="0">Select Device</option>
            <option value="1">Growth Chart</option>
            <option value="2">Period Return Chart</option>
            <option value="3">Box Chart</option>
            <option value="4">Risk Return Chart</option>
            <option value="5">Rolling Return Chart</option>
            <option value="6">Snail Trail Chart</option>
            <option value="7">Tracking Error Chart</option>
            <option value="8">Nominal IR</option>
          </select>
        </div>
      </div>
      <div class="ui button primary">Submit Order</div>
    </form>
  </div>
</div>
